html{
   height: 100%;

}

body{
    margin: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}


.form-container {
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 15px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
   justify-content: center;
}

h1 {
    text-align: center;
    color: #5C8001;
    margin-bottom: 50px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.container{
    max-width: 1400px;
    margin: auto;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5C8001;
}

button {
    background-color: #5C8001;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin: 35px 0 35px 0;
}


header{
    background-color: #5C8001;
    
}
header .logo{
    margin: 0;
    padding: 25px 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
header .img-logo{
    background-image: url("../Fotos//Granjero.png");
    background-size:cover;
    height: 50px;
    width: 50px; 
}
.containerlogo{
    display: flex;
    align-items: center;

}
header .container{
display: flex;
flex-direction: column;
align-items: center;
}
header nav{

display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 25px;

}

.form-container .cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
}
header a:hover{
    transform: scale(1.05);
    
}

#BotónCerrarSesión{
    border-radius: 5px;
    padding: 10px;
    background-color: #b01111;
}

#VolverInicio{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #FBB02D;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(230,230,230);
    
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);   
}

footer .container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    .form-grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 30px auto 25px;
        width: 50%;
    }

    #BotónCerrarSesión{
        margin-left: 10px;
    }
    header{
        width: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .form-container h1{
        margin: auto;

    }

    .form-container .cabecera{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #VolverInicio{
        margin-bottom: 0;
        margin-right: 15px;

    }

    .cabecera h1{
        margin: 30px 0 30px 0;
    }

    button{
        margin: 50px 0 50px 0;
    }
}