html{
    height: 100%;
 
 }
 
 body{
     margin: 0;
     font-family: sans-serif;
 }

 .margen-arriba{
    margin-top: 15px;
 }
 *{
     box-sizing: border-box;
     margin: 0;
 }

 .titulo-h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
    font-size: 50px;
    color: #5C8001;
}
 
 header{
    background-color: #5C8001;
    
}
.container{
    max-width: 1400px;
    margin: auto;
}
header .logo{
    margin: 0;
    padding: 25px 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
header .img-logo{
    background-image: url("../Fotos//Granjero.png");
    background-size:cover;
    background-position: center center;
    height: 50px;
    width: 50px; 
}
.containerlogo{
    display: flex;
    align-items: center;

}
header .container{
display: flex;
flex-direction: column;
align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

header nav{

display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 25px;

}
input[type="submit"]:hover, button:hover[type="submit"], button:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

input[type="submit"], button[type="submit"], button{
 
    transition: transform 0.3s ease;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}
header a:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    
}
#BotonCerrarSesion{
    border-radius: 5px;
    padding: 10px;
    background-color: #b01111;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 141, 141);
}

.fondo-footer{
    background-color: rgb(206, 205, 205);

}
#VolverInicio{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #FBB02D;
}

label, option, select{
    font-size: 15px;
    color: #555;
    margin-bottom: 8px;
}
input::placeholder, option::placeholder, select::placeholder{
    font-size: 13px;
}

input[type="text"]:focus,
input[type="password"]:focus, input[type="file"]:focus, select:focus, input[type="date"]:focus, input[type="email"]:focus{
    border-color: #5C8001;
}

input[type="text"],
input[type="password"], select, input[type="date"]:focus, input[type="date"],input[type="email"],input[type="email"]{
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="email"]{

    width: 300px;
}
input[type="date"]{
    width: auto;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);   
}

.campo_password{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.campo_password label{
    margin: 0 0 0 5px !important;
}

footer .container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.color-rojo{
    background-color: #b01111;
}

.color-naranja{
    background-color: #FBB02D;
}

h1 {
    text-align: center;
    color: #5C8001;
    margin-top: 25px;
}

.actualizar{
    background-color: #FBB02D;
}

.logos-footer{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logos-footer img{

    height: 150px;
    padding: 20px;
    margin: 10px 20px;
}

.logos-footer img:hover{
     cursor: pointer;
     background-color: #555;
}

@media (min-width: 720px) {

    button {
        margin: 30px auto 25px;
        width: 50%;
    }

    #BotonCerrarSesion{
        margin-left: 10px;
    }
    header{
        width: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #VolverInicio{
        margin-bottom: 0;
        border-radius: 5px;
        padding: 10px;
        background-color: #FBB02D;
        margin-right: 15px;
    
    }

    .campo_password{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .campo_password label{
        margin: 0 0 0 5px !important;
    }
}